<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <a href="/complaints/new" class="btn btn-default btn-block">
      <i class="fa fa-plus"></i>
    </a>

    <hr>
  </div>
</div>



<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <% @companies.each do |company| %>
    <% if company.complaints.count > 0 %>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <a href="/companies/<%= company.id %>"><h3>
          <%= company.company_name %></h3></div>
          <div class="panel-body">
            <a href="/companies/<%= company.id %>">
              <%= company.complaints.count %> complaints, <%= company.haters.count %> haters, and <%= company.flip_offs.count %> flip-offs
            </a>


          </div>
        </div>

        <% end %>
        <% end %>
      </div>
    </div>
