<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <a href="/complaints/new" class="btn btn-default btn-block">
      <i class="fa fa-plus"></i>
    </a>

    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="jumbotron">
      <h3>
        <%= @company.company_name %>
      </h3>

      <div class="row padding-inside-top-sm">

        <div class="col-md-12">
          <p class="lead">
            <%= @company.complaints.count %> complaints, <%= @company.haters.count %> haters, and <%= @company.flip_offs.count %> flip-offs
          </p>
        </div>
        </div>
      </div>
    </div>
  </div>


<%= render @company.complaints %>
